@media (min-width: 768px) {
     :root {
        --navbar-height: 8vh;
        --minx-navbar-height: 60px;
        --max-navbar-height: 80px;
    }
    .swe-hamburger-menu-body,
    .swe-hamburger-menu-bar-wrap {
        display: none;
    }
    .swe-navbar {
        content: '';
        max-width: 100%;
        height: var(--navbar-height);
        min-height: var(--min-navbar-height);
        max-height: var(--max-navbar-height);
        background-color: var(--bs-primary, var(--swe-color-primary));
        margin: 0;
        padding: 15px 5px;
        display: flex;
    }
    .swe-navbar * {
        max-height: 50px !important;
    }
    .swe-navbar-over {
        background-color: transparent;
    }
    .swe-navbar-logo-container {
        background-color: transparent;
        border-radius: 5px;
        padding: 0px 10px;
        text-align: center;
        box-shadow: inset 0px 0px 5px 1px var(--bs-primary, var(--swe-color-primary));
    }
    .swe-navbar-logo-container img {
        max-width: 100%;
    }
    .swe-navbar-wrap {
        width: 100%;
        padding: 15px;
    }
    .swe-navbar-wrap-link-box {
        float: right;
    }
    .swe-navbar-wrap a {
        color: var(--bs-light, var(--swe-color-light));
        font-weight: 700;
        padding: 0px 25px;
        text-decoration: none;
    }
    .swe-navbar-wrap a:hover {
        color: var(--bs-danger, var(--swe-color-danger));
    }
    .swe-navbar-link-bg {
        background-color: var(--bs-light, var(--swe-color-light));
        transition: all 0.5s ease-in-out;
    }
    .swe-navbar-link-bg:hover {
        background-color: var(--bs-danger, var(--swe-color-danger));
        transition: all 0.5s ease-in-out;
    }
    .swe-navbar-wrap .swe-navbar-link-bg {
        color: var(--bs-primary, var(--swe-color-primary));
        font-weight: 700;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 10px;
    }
    .swe-navbar-wrap .swe-navbar-link-bg:hover {
        color: var(--bs-light, var(--swe-color-light));
        font-weight: 700;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 10px;
    }
}