@media (min-width: 768px) {
     :root {
        --navbar-height: 8vh;
        --min-navbar-height: 60px;
        --max-navbar-height: 80px !important;
    }
    .swe-hamburger-menu-body,
    .swe-hamburger-menu-bar-wrap {
        display: none;
    }
    .swe-navbar {
        content: '';
        max-width: 100%;
        max-height: var(--max-navbar-height);
        height: var(--navbar-height);
        min-height: var(--min-navbar-height);
        background-color: var(--bs-primary, var(--swe-color-primary));
        margin: 0;
        display: flex;
    }
    .swe-navbar-over {
        background-color: transparent;
    }
    .swe-navbar-logo-container {
        width: 18%;
        background-color: transparent;
        height: calc(100% - 30px);
        margin-top: 15px;
        text-align: left;
    }
    .swe-navbar-logo-container img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
    }
    .swe-navbar-wrap {
        height: 100%;
        width: 82%;
        margin: 0px;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: row-reverse;
    }
    .swe-navbar-wrap-link-box {
        display: flex;
    }
    .swe-navbar-wrap a {
        color: var(--bs-light, var(--swe-color-light));
        font-weight: 700;
        padding: 10px 25px;
        text-decoration: none;
        margin: auto;
    }
    .swe-navbar-wrap a:hover {
        color: var(--bs-danger, var(--swe-color-danger));
    }
    .swe-navbar-link-bg {
        background-color: var(--bs-light, var(--swe-color-light));
        transition: all 0.5s ease-in-out;
    }
    .swe-navbar-link-bg:hover {
        background-color: var(--bs-danger, var(--swe-color-danger));
        transition: all 0.5s ease-in-out;
    }
    .swe-navbar-wrap .swe-navbar-link-bg {
        color: var(--bs-primary, var(--swe-color-primary));
        font-weight: 700;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 10px;
    }
    .swe-navbar-wrap .swe-navbar-link-bg:hover {
        color: var(--bs-light, var(--swe-color-light));
        font-weight: 700;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 10px;
    }
}